@page
@model DoneInAGiffy.Pages.GIFs.ViewGIFsModel
@{
    Layout = HttpContext.User.Identity.IsAuthenticated ? "_LayoutAuthenticated" : "_Layout";
}
<form method="post" class="form-group">
    <div class="row m-2">
        <div class="col-2">
            <label class="form-label">Category</label>
        </div>
        <div class="col-8">
            <select asp-for="CategoryId" asp-items="@Model.Categories"></select>
        </div>
        <div class="col-2">
            <button class="btn btn-primary" id="btnView">Display</button>
        </div>
    </div>

    @foreach (var gif in Model.GIFs)
    {
        <div class="row m-2 border">
            <div class="row m-2">
                <div class="col-2">
                    <div class="gif-item">
                        <img src="@gif.gifLink" alt="@gif.gifTitle" />
                    </div>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-2">
                    <label class="form-label" asp-for="@gif.gifTitle"></label>
                </div>
                <div class="col-10">
                    <label class="form-label">@gif.gifTitle</label>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-2">
                    <label class="form-label" asp-for="@gif.gifDescription"></label>
                </div>
                <div class="col-10">
                    <label class="form-label">@gif.gifDescription</label>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-2">
                    <label class="form-label" asp-for="@gif.gifUploadDate"></label>
                </div>
                <div class="col-10">
                    <label class="form-label">@gif.gifUploadDate</label>
                </div>
            </div>
            <div class="row m-2">
                <div class="col-2">
                    <a asp-page="EditGIF" asp-route-itemid="@gif.gifID" class="btn btn-primary">Edit</a>
                </div>

            </div>
        </div>
    }
</form>
